<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render "layouts/prefecture", prefectures: @prefectures %>
    </div>

    <div class="col-8 offset-1 mt-5">
      <div class="row card">
        <%= image_tag "草津.png", class: "card-img" %>
        <div class="card-img-overlay d-flex align-center", style="color: white;">
          <div class="col-8 text-center mx-auto my-auto p-5", style="background-color: rgba(0,0,0,0.7); font-family: 'RocknRoll One', sans-serif;">
            <h1>ミヤゲ屋の使い方！</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2", style="font-family: 'RocknRoll One', sans-serif;">
          <h1 class="m-5">ミヤゲ屋の使い方</h1>
          <h3 class="m-3">①ミヤゲ（おみやげ）を探す！</h3>
          <p class="ml-5 mb-4">県別、一覧、タグなどから調べたいミヤゲを検索
            <i class="fa-solid fa-magnifying-glass"></i></br>
                        ヘッダーの検索窓からも検索できるよ！<br>
                        目的別からでも探せるよ！
          </p>
          <h3 class="m-3">②レビューを書こう！</h3>
          <p class="ml-5 mb-4">該当のミヤゲが見つかったら、レビューを書こう
            <i class="fa-regular fa-pen-to-square"></i>
          </p>
          <h3 class="m-3">③気になるミヤゲをチェック！</h3>
          <p class="ml-5 mb-4">気になるミヤゲがあったら、ほしい！に追加しよう！
            <i class="fa-solid fa-square-plus"></i>
          </p>

          <p class="mt-5 ml-4">※サイト内の閲覧は会員登録せず自由にご覧になれます。<br>
                &emsp;レビューの投稿・ほしい！の追加は、<br>
                &emsp;会員登録していただかないとご利用になれません。
          </p>
          <p class="mt-2 ml-4">※不適切な投稿があった場合には、<br>
                &emsp;管理者側で投稿を削除させていただく場合がございます。
          </p>
        </div>
      </div>
    </div>

  </div>
</div>