<div class="container">
  <div class="row">
     <% @souvenirs_food.each do |souvenir| %>
         <div>
             <%= souvenir.souvenir_name %>
         </div>
     <% end %>

     <% @souvenirs_goods.each do |souvenir| %>
         <div>
             <%= souvenir.souvenir_name %>
         </div>
     <% end %>

  </div>
</div>