/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* スクロールボタン */
.scroll-top-btn {
  display: none; /* ボタンを初めは非表示に */
  position: fixed; /* ボタンを画面に固定 */
  right: 20px;
  bottom: 20px;
  width: 40px; /* ボタンの幅 */
  height: 40px; /* ボタンの高さ */
  background-color: #BDDF38; /* ボタンの背景色 */
  border-radius: 50%; /* ボタンの角を丸くする */
  display: flex; /* ボタン内の要素を横並びに配置 */
  align-items: center; /* ボタン内の要素を縦方向中央に配置 */
  justify-content: center; /* ボタン内の要素を横方向中央に配置 */
  color: #fff; /* テキストの色を白に設定 */
  font-size: 24px; /* テキストのフォントサイズ */
  text-decoration: none; /* テキストの下線を削除 */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* ホバー時のトランジション効果の設定 */
  z-index: 9999; /* ボタンを最前面に */
}

.scroll-top-btn:hover {
  background-color: #9ECA2D; /* ホバー時の背景色変更 */
  text-decoration: none; /* テキストの下線を削除 */
  color: #fff; /* ホバー時のテキストの色変更 */
  transform: scale(1.1); /* ホバー時の拡大率変更 */
}

