@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ==================== 一番上に戻る =====================

.scroll-top-btn {
  display: none; /* ボタンを初めは非表示に */
  position: fixed; /* ボタンを画面に固定 */
  bottom: 10%; /* 画面の下から10%の位置に配置 */
  right: 5%; /* 画面の右から5%の位置に配置 */
  color: #b0e0e6; /* 色を設定 */
  font-size: 25px; /* テキストのフォントサイズ */
  text-decoration: none; /* テキストの下線を削除 */
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
                          /* ホバー時のトランジション効果の設定 */
  z-index: 9999; /* ボタンを最前面に */
}

.scroll-top-btn:hover {
  text-decoration: none; /* テキストの下線を削除 */
  color: #0000cd; /* ホバー時のテキストの色変更 */
  transform: scale(1.5); /* ホバー時の拡大率変更 */
}

// =============== 県名 サイドバー ===================================

#sidebarMenu {
  height: 70%;
  position: fixed;
  top: 220px;
  left: 300;
  width: 200px;
  margin-top: 10px;
  text-align: center;
  transform: translateX(-3000px);
  transition: transform 250ms ease-in-out;
  background: #f0f8ff;
  z-index: 99;
  overflow-y: scroll;
}
.sidebarMenuInner{
  margin:0;
  padding:0;
}
.sidebarMenuInner li{
  list-style: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
.sidebarMenuInner li a{
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
}
.close {
  transition: all 0.3s;
  box-sizing: border-box;
  margin-top: 3px;
  position: fixed;
  top: 200px;
}
.open {
  display: none;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .close {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .open {
  transition: all 0.3s;
  box-sizing: border-box;
  margin-top: 3px;
  display: block;
  position: fixed;
  top: 180px;
}


@media screen and (max-width: 768px) {
  .close {
    font-size: 18px;
    position: fixed;
    top: 160px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .open {
    position: fixed;
    top: 160px;
  }
}