<div class="mt-5 text-center border border-dark">
  <h3 class="m-5">都道府県別<br>ミヤゲ</h3>
  <% prefectures.each do |prefecture| %>
    <%= link_to search_prefecture_path(prefecture) do %>
      <h5 class="mt-4 mb-4 font-weight-bold"><%= prefecture.prefecture_name %></h5>
    <% end %>
  <% end %>
</div>