<div class="sidebar">
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner horizontal"><i class="fa-solid fa-map fa-2xl"></i></i></div>
    <div class="spinner diagonal"><i class="fa-regular fa-map fa-2xl"></i></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>都道府県別ミヤゲ一覧</li>
      <% prefectures.each do |prefecture| %>
        <li><%= link_to search_prefecture_path(prefecture), class: "btn btn-outline-dark" do %>
              <%= prefecture.prefecture_name %>
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

